body {
    background-color: black;
    color: green;
    font-size: 17px;
}

.blue {
    position: absolute;
    left: 500px;
    width: 210px;
    height: 70px;
    border-radius: 50px;
    border: 10px;
    background-color: black;
    text: black;
    font-size: 17px;
    font-weight: bold;
    font-family: "Courier New";
}

.red {
    position: absolute;
    right: 500px;
    width: 210px;
    height: 70px;
    border-radius: 50px;
    border: 10px;
    background-color: black;
    text: black;
    font-size: 17px;
    font-weight: bold;
    font-family: "Courier New";
}

h1 {
    font-family: "Courier New";
    font-size: 80px;
}

.start {
    background-color: green;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: "Courier New";
    border: 3px solid green;
    border-radius: 10px;
    width: 400px;
    height: 50px;
    margin: 10px;
}

.skip {
    position: absolute;
    bottom: 70px;
    right: 70px;
    text: black;
    font-size: 17px;
    font-weight: bold;
    font-family: "Courier New";
    width: 180px;
    height: 40px;
    border-radius: 4px;
    border: 10px;
    background-color: green;
}

.stone {
    color: black;
}

table {
    margin-left: 587px;
}

.first {
    position: absolute;
    border-radius: 50px;
    left: 400px;
    height: 50px;
    width: 100px;
    text: black;
    font-size: 17px;
    font-weight: bold;
    font-family: "Courier New";
    border: 10px;
    background-color: black;
}

.second {
    position: absolute;
    border-radius: 50px;
    right: 400px;
    height: 50px;
    width: 100px;
    text: black;
    font-size: 17px;
    font-weight: bold;
    font-family: "Courier New";
    border: 10px;
    background-color: black;
}

.txt {
    font-weight: bold;
    font-family: "Courier New";
    border-radius: 50px;
    border: 3px green solid;
    margin: 3px;
    height: 20px;
    padding-left: 10px;
    text: green;
}

.but {
    font-weight: bold;
    font-family: "Courier New";
    text-align: center;
    width: 165px;
    padding: 10px;
    border-radius: 10px;
    border: 3px green solid;
    /*background-color: black;*/
    text: green;
    font-size: 13px;
}